<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Regional Sales Dashboard</title>
  <link rel="shortcut icon" type="image/jpg" href="../static/images/icon.png"/>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/snt0gim.css">
  
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" style="color: #c8d489;">Regional Sales Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data">Data Analysis</a>
        </li>
       </ul>
      </div>
  </nav>

  <main role="main" class="container">
    
    <div>
      <img src="../static/images/BusinessLogo.svg" alt="Company Logo" class="logo">
    </div>
    
    <div class="container-xl header">
      <h1>Sales Forecast</h1>
      <h2>View sales forecasts by region and by product category</h2>
    </div>
    
    <!-- Chart1 and Dropdown by Region -->
    <div class="container-xl">
      <label>Select region:</label>
      <div class="dropdown">
        <select id="selectRegion"></select>
      </div>
    </div>
    
    <div class="container-xl">
      <div class="row">
        <div class="col">
          <h3>Monthly Actual and Projected Sales</h3>
          <p>Mouseover each month to see results.</p>
        </div>
      </div>
      <div class="row">
        <div class="col chart" id="chart1">
        </div>
      </div>
    </div>
   
    <!-- Footer -->
    <div class="container-xl footer">
      <hr>
      <h6>View code on <a href="https://github.com/KristaJoy/sales-forecast">Github.</a>  </h6>
    </div>

  </main>


</body>
</html>

<!-- SCRIPTS -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="static/app.js"></script>

