body {
    background-color:#e2ece5;
}

.logo {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

.container-xl {
    background-color: #fff;
    padding: 1rem;
}

.row {
    padding-right:15px;
    padding-left:15px;
}

.header {
    background-color: #034185;
    border-radius: 15px 15px 0px 0px
}

.footer {
    border-radius: 0px 0px 15px 15px
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: white;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;;
    color: #c2c2c2;
}

h3 {
    text-align: center;
    font-size: 24px;;
    color: #000;
}

h6 {
    font-size: 12px;
    text-align: center;
}

p {
    color: #5b6264;
    text-align: center;
}

label {
    float: left;
    margin-right: 10px;
}

.dropdown {
    font-size: 20px;
    display: block;
}

select {
    background-color: #f7e0c7;
    width: 160px;
}

svg {
    display: block;
    margin: auto;
  } 

/* navy #034185
lt blue #17CAE2
red #F73C3C
orange #F29025 */